section.steps
  .container
    h2.steps__title 4 шага к идеальному букету
    ul.steps__row
      li.steps__item
        h3.steps__subtitle Заказ
        p.steps__discription Выберите понравившийся букет из каталога и оформите заказ
      li.steps__item
        h3.steps__subtitle Уточнение деталей
        p.steps__discription Наш флорист позвонит вам после оформления заказа, чтобы уточнить детали
      li.steps__item
        h3.steps__subtitle Оплата
        p.steps__discription Оплатить заказ можно онлайн на сайте или при получении
      li.steps__item
        h3.steps__subtitle Доставка
        p.steps__discription Курьер позвонит за час до прибытия и доставит заказ вовремя
