section.reviews
  .container
    .reviews__wrapper
      h2.reviews__title Отзывы
      ul.reviews__row
        li.reviews__item
          blockquote.review
            p.review__discription Все очень понравилось! Быстрое оформление заказа, выбор удобного времени доставки. Всем большое спасибо!
            cite.review__author Марина
        li.reviews__item
          blockquote.review
            p.review__discription Внимательные флористы, вежливые. Магазин находится прям рядом с метро. Букет очень понравился, буду еще заказывать!
            cite.review__author Татьяна
        li.reviews__item
          blockquote.review
            p.review__discription Выбор букетов на любой вкус и цену. Бывают хорошие скидки, а флористы всегда помогут и точно соберут красивый букет!
            cite.review__author Ольга
