section.catalog
  .container
    h2.visually-hidden Разделы каталога
    ul.catalog__row
      li.catalog__item
        a.catalog__link(href="#")
          h3.catalog__subtitle Свадебные букеты
          p.catalog__discription Букеты для невест
      li.catalog__item
        a.catalog__link(href="#")
          h3.catalog__subtitle Букеты с пионами
          p.catalog__discription Букеты с сезонными пионами
      li.catalog__item
        a.catalog__link(href="#")
          h3.catalog__subtitle Выбрать букет
          p.catalog__discription Букеты в ассортименте
