section.contacts
  .contacts__wrapper
    .contacts__map.js-map
    .container
      .contacts__information
        h2.contacts__title Мы ждем вас
        p.contacts__description
          span Приходите к нам:
          b Санкт-Петербург, ул. Большая Конюшенная, 19
        p.contacts__description
          span Режим работы:
          b Пн-Вск, с 9-00 до 20-00
        p.contacts__description
          span Позвоните нам:
          b <a class="contacts__link" href="tel:+78129834719">+ 7 (812) 983-47-19</a>
        p.contacts__description
          span Напишите нам:
          b <a class="contacts__link" href="mailto:info@botanika.ru">info@botanika.ru</a>
