section.features
  .container
    h2.visually-hidden Преимущества
    ul.features__row
      li.features__item
        .features__information
          h3.features__subtitle Быстрая доставка
          p.features__discription Можем собрать букет и передать его в доставку всего за час
      li.features__item
        .features__information
          h3.features__subtitle Всегда свежие цветы
          p.features__discription Тщательно следим за состоянием цветов, а опытные флористы отбирают для букетов каждый цветок
      li.features__item
        .features__information
          h3.features__subtitle Отправляем фото цветов
          p.features__discription Перед доставкой сделаем фотографию букета и отправим вам
